body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #DBCDC2;
}


.box {

    height: 400px;
    border: 1px solid #000;
    margin: auto;
    width: 80%;
    padding: 3rem;
}

h1 {
    font-size: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-size: 120;
}

a {
    color: black;
}