<web-app>

<servlet-mapping>
<servlet-name>creditCalculator</servlet-name>
<url-pattern>/calCredit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>creditCalculator</servlet-name>
<servlet-class>creditCalc</servlet-class>
</servlet>


<servlet>
<servlet-name>eval</servlet-name>
<servlet-class>evaluvate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>eval</servlet-name>
<url-pattern>/evaluvate</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>dataBase</servlet-name>
        <servlet-class>db</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dataBase</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn</servlet-name>
        <servlet-class>Learn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn</servlet-name>
        <url-pattern>/LaaI</url-pattern>
    </servlet-mapping>

    <!-- for S&P 500 data -->
    <servlet>
        <servlet-name>sp500</servlet-name>
        <servlet-class>sp500</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sp500</servlet-name>
        <url-pattern>/sp500</url-pattern>
    </servlet-mapping>

    <!-- for nasdaq composite index data -->
    <servlet>
        <servlet-name>nasdaq</servlet-name>
        <servlet-class>nasdaq</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>nasdaq</servlet-name>
        <url-pattern>/nasdaq</url-pattern>
    </servlet-mapping>


<servlet>
    <servlet-name>hidden</servlet-name>
    <servlet-class>hidden</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>hidden</servlet-name>
    <url-pattern>/hidden</url-pattern>
    </servlet-mapping>


    <servlet>
    <servlet-name>hidden2</servlet-name>
    <servlet-class>hidden2</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>hidden2</servlet-name>
    <url-pattern>/hidden2</url-pattern>
    </servlet-mapping>


    <servlet>
    <servlet-name>url</servlet-name>
    <servlet-class>url</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>url</servlet-name>
    <url-pattern>/url</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>url2</servlet-name>
    <servlet-class>url2</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>url2</servlet-name>
    <url-pattern>/url2</url-pattern>
    </servlet-mapping>


    <servlet>
    <servlet-name>sessionId</servlet-name>
    <servlet-class>sessionId</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>sessionId</servlet-name>
    <url-pattern>/sessionId</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>sessionId2</servlet-name>
    <servlet-class>sessionId2</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>sessionId2</servlet-name>
    <url-pattern>/sessionId2</url-pattern>
    </servlet-mapping>
</web-app>